[Desktop Entry]
Name=Exterminator
GenericName=Task Manager
Comment=Simple task manager
Exec=exterminator
Icon=utilities-system-monitor
Terminal=false
Type=Application
MimeType=text/plain
Categories=EFL;System;Utility;
Actions=Window;Document;
StartupWMClass=exterminator
